html,
body,
#root {
    background-color: #D9D9D9;
    font-family: 'Roboto';
}
#post-new-peep {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
  }
#navbarButton {
  position: absolute; 
  right:20%; 
}
.modal-content {
  display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {

}